.about {
    &__container {
        margin-top: 263px;
        text-align: center;
    }
    &__title {
        display: inline-block;
    }
    &__logo {
        margin-top:20px;
        margin-right:20px;
    }
    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 98px;
        text-align: center;
        color: #FFFFFF;
    }
    &__contact_text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 155%;
        letter-spacing: -0.05em;
        color: $grayColor;
        margin: 20px 0 20px 15px;
    }
    &__contact_container {
        text-align: right;
        margin-top: 243px;

    }
    &__contact_border {
        border: 1px solid $grayColor;
        display: inline-block;
    }
    &__arrow {
        margin-top: 7px;
        margin-left: 207px;
        margin-right: 25px;;
    }
}
.container {
}
