.categoryes {
    margin-top: 100px;
    margin-bottom: 100px;
    min-width: 100vw;
    background-color: $white;
    &__card {
        margin-top: 140px;
    }
}
.container {
}

.category-card {
    background-color: #393939;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &__info {
        flex-basis: 580px;
    }
    &__title {
        font-size: 36px;
        font-weight: 500;
        line-height: 44px;
        margin: 0;
    }
    &__text {
        display: block;
        margin-top: 30px;
    }
    &__image {
        position: absolute;
        right: 0;
        bottom: 10px;
        width: 600px;
        height: 560px;
        object-fit: contain;
        object-position: 50% 100%;
    }
    &__button {
        margin-top: 70px;
    }
}
.button {
    &__text {}
    &__arrow {}
}
