.category {
    padding: 100px 0;
    min-width: 100vw;
    height: 200vh;
    background-color: $white;
    display: flex;
    flex-direction: column;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-grow: 1;
        position: relative;
    }

    display: flex;
    align-items: center;
    &__card {
        margin-top: 140px;
    }
    &_black {
        background-color: $black;
    }
    &__title {
        position: absolute;
        top: -200px;
        left: 0;
    }
}

.category-card {
    background-color: #393939;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &__info {
        flex-basis: 580px;
    }
    &__title {
        font-size: 36px;
        font-weight: 500;
        line-height: 44px;
        margin: 0;
    }
    &__text {
        display: block;
        margin-top: 30px;
    }
    &__image {
        position: absolute;
        right: 0;
        bottom: 10px;
        width: 600px;
        height: 560px;
        object-fit: contain;
        object-position: 50% 100%;
    }
    &__button {
        margin-top: 70px;
    }
}

@include media($laptop) {
    .category {
		&__container {}
		&__card {}
		&__title {}
    }
    .category-card {
		&__info {
            flex-basis: 400px;
        }
		&__title {}
		&__text {}
		&__button {}
		&__image {}
    }
}

@include media($tablet) {
    .category {
        height: auto;
        padding: 50px 0;
		&__container {}
		&__card {}
		&__title {
            top: -70px;
        }
    }
    .category-card {
        margin-top: 50px;
		&__info {}
		&__title {
            font-size: 20px;
            line-height: 25px;
        }
		&__text {
            font-size: 13px;
            line-height: 16px;
        }
		&__button {
            margin-top: 150px;
            &_second {
                margin-top: 70px;
            }
        }
		&__image {
            width: 170px;
            height: 230px;
            right: -30px;
            bottom: 0;
        }
    }
}

@include media($mobile) {
    .category {
		&__container {}
		&__card {}
		&__title {}
    }
    .category-card {
		&__info {}
		&__title {}
		&__text {}
		&__button {}
		&__image {}
    }
}