.footer {
  position: relative;
  background: $red;
  padding: 50px 0 65px 0;
  &__container {
  }
  &__logo {
    width: 240px;
  }
}

.columns {
	display: flex;
    gap: 90px;

	&__item {
		display: flex;
		flex-direction: column;
        gap: 20px;
	}

  &__text {
    text-decoration: none;
  }
  
}

@include media($laptop) {
    .footer {
        &__container {}
        &__logo {}
    }
    .columns {
        &__item {}
        &__text {}
    }
}

@include media($tablet) {
    .footer {
        &__container {}
        &__logo {
            width: 130px;
        }
    }
    .columns {
        &__item {
            font-size: 20px;
        }
        &__text {}
    }
}

@include media($mobile) {
    .footer {
        &__container {}
        &__logo {
        }
    }
    .columns {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        &__item {
            text-align: center;
        }
        &__text {}
    }
}