.header {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 2;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    gap: 35px;
    list-style: none;
  }

  &__link {
    text-decoration: none;
  }
}