* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
  color: white;
}

html, body {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

button {
  border: none;
}

a {
  color: inherit;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1440px;
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none !important;
}