// Заголовки, общие БЄМ блоки и прочее...

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $gray;
  border: 1px solid $gray;
  padding: 20px 50px;
  font-size: 16px;
  text-decoration: none;
  width: fit-content;
  gap: 10px;
  transition: .3s;
  cursor: pointer;
  &:hover {
    background-color: $gray;  
    color: $white; 
    gap: 40px;
    .button__arrow {
      transform: translateX(-10px);
      & path {
        stroke: $white;
      }
    }
  }
  &__arrow {
    display: flex;
    transition: .3s;
  }
  &_accent {
    background: linear-gradient(96.2deg, #CC2232 9.24%, #AE0213 100%);
    color:#FFFFFF;
    border: none;

    text-decoration: none;

    
    position: relative;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 30px;
      height: 100%;
      transform: skewX(-20deg);
      opacity: .5;
      background-color: $white;
      transition: .3s;
      animation: gleam 5s linear infinite;
    }
  }
}

.section-title {
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  &_black {
    color: $black;
  }
}

.anim {
  display: flex;
  height: 100vh;
}

