// Заголовки, общие БЄМ блоки и прочее...

.accent-button {
  display: flex;
  gap: 20px;
  padding: 20px 50px;

  background: linear-gradient(96.2deg, #CC2232 9.24%, #AE0213 100%);
  color:#FFFFFF;
  
  text-align: right;
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $gray;
  border: 1px solid $gray;
  padding: 20px 50px;
  font-size: 16px;
  text-decoration: none;
  width: fit-content;
  gap: 10px;
  &__arrow {
    display: flex;
  }
}

.section-title {
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  &_black {
    color: $black;
  }
}

.anim {
  display: flex;
}